body, form {
	font-family: sans-serif;
}
/* For the different classes in the checker */

.ok {
	color: #008000;
}
.ok a:link {
        color: white;
        text-decoration: none;
}
.ok a:visited {
        color: white;
        text-decoration: none;
}
.ok a:hover {
        color: white;
        text-decoration: underline;
}

/* should be hid when loading with js */
.skipped {
	color: #505050;
}
.info {
}
.notice {
	font-weight: bold;
	font-style: italic;
}
/* Will always show */
.warning {
	color: #FF8C00;
}
.warning a:link {
        color: #FF8C00;
        text-decoration: none;
}
.warning a:visited {
        color: #FF8C00;
        text-decoration: none;
}
.warning a:hover {
        color: #FF8C00;
        text-decoration: underline;
}

.error {
	color: red;
}
.error a:link {
        color: red;
        text-decoration: none;
}
.error a:visited {
        color: red;
        text-decoration: none;
}
.error a:hover {
        color: red;
        text-decoration: underline;
}

.critical {
	color: red;
}
.critical a:link {
        color: red;
        text-decoration: none;
}
.critical a:visited {
        color: red;
        text-decoration: none;
}
.critical a:hover {
        color: red;
        text-decoration: underline;
}

/* Some "general" styling  */
#domain_info {
	float: left;
}
#domain_history {
	float: right;
	color: white;
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#domain_history h3 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.clear-both {
	clear: both;
}

.desc_hover {
	cursor: help;
	color: black;;
	text-decoration: underline;
}

.description {
	display: block;
	font-style: italic;
	color: black;
}
.menu {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
}
.menu a {
	text-decoration: none;
	color: white;
}
.menu a:link {
	color: white;
	text-decoration: none;
}
.menu a:visited {
	color: white;
	text-decoration: none;
}
.menu a:hover {
	color: white;
	text-decoration: underline;
}
.menu li {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin-left: 8px;
	color: white;
}

#last_result {
	float: right;
	padding: 5px;
	color: #8e9acc;
	border: 1px dotted;
}


#result_list li {
	background: #E5E5E5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	list-style: disc;
	font-size: 20px;
	border: 1px solid;
}
/* Could re-use the above? */
#nameservers {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	color: white;
}

#ds_records {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	color: white;
}

#result_list ul {
	color: black;
	padding-left: 10px;
}
#result_list li li {
	background: white;
	font-size: 14px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	list-style: none;
	border: none;
	cursor: text;
}
#result_list li:hover {
	background: #D0D0D0;
}
#result_list li li:hover {
	background: white;
}

#nameservers li {
	list-style: none;
}

#ds_records li {
	list-style: none;
}

li {
	margin-top: 0.25em;
	margin-bottom:0.25em;
}

#domain_history li {
	list-style-type: disc;
}

li.collapsibleListOpen{
  cursor: pointer;
}
li.collapsibleListOpen ul {
  cursor: text;
}

li.collapsibleListClosed{
  cursor: pointer;
}

.noscript {
	color: red;
	border: 1px dotted;
}

.about {
}

#credits {
	font-size: 12px;
	text-align: center;

}
ul, ol {
	margin-left:1.5em; 
	padding-left:0px;
}

.key_tag {
    width: 50px;
}
.algorithm {
    width: 20px;
}
.digest_type {
    width: 20px;
}
.digest {
    width: 400px;
}