body, form {
	font-family: sans-serif;
}
/* For the different classes in the checker */
.ok {
	color: #7CFC00;
}
/* should be hid when loading with js */
.info {
}
/* should be hid when loading with js */
.notice {
	font-weight: bold;
	font-style: italic;
}
.warning {
	color: #FF8C00;
}
.error {
	color: red;
}
.critical {
	color: red;
	font-weight: bold;
}
/* Some "general" styling  */
#domain_info {
	float: left;
}
#domain_history {
	float: right;
	color: white;
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.clear-both {
	clear: both;
}

.description {
	display: block;
	font-style: italic;
	color: black;
}

.menu li {
	display: inline;
}
a {
	font-weight: normal;
}


ul, ol {
	margin-left:1.5em; 
	padding-left:0px;
}
#result_list {
	color: white;
}

#result_list li {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	list-style: disc;
	font-size: 16px;
}
/* Could re-use the above? */
#nameservers {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	color: white;
}

#result_list ul {
	color: black;
	padding-left: 10px;
}
#result_list li li {
	background: white;
	font-size: 14px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	list-style: none;
}

#nameservers li {
	list-style: none;
}

li {
	margin-top: 0.25em
	margin-bottom:0.25em; 
}

#domain_history li {
	list-style-type: disc;
}
.collapsibleList li{
  list-style-image:url('button.png');
  cursor:auto;
}

li.collapsibleListOpen{
	/*
  list-style-image:url('button-open.png');
  cursor:pointer;
	*/
}

li.collapsibleListClosed{
	/*
  list-style-image:url('button-closed.png');
  cursor:pointer;
	*/
}

.noscript {
	color: red;
	border: 1px dotted;
}

.about {
}
