/* For the different classes in the checker */
.ok {
	color: green;
}
.info {
}
.notice {
	font-weight: bold;
	font-style: italic;
}
.warning {
	color: orange;
}
.error {
	color: red;
}
.critical {
	color: red;
	font-weight: bold;
}

#domain_info {
	float: left;
}
#domain_history {
	float: right;
	color: white;
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}

.clear-both {
	clear: both;
}

.description {
	display: none;
	color: black;
}

.menu li {
	display: inline;
}
a {
	font-weight: normal;
}


ul, ol {
	list-style: none;
	margin-left:1.5em; 
	padding-left:0px;
}
#result_list {
	color: white;
}

#result_list li {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
}

#result_list ul {
	color: black;
}
#result_list li li {
	color: black;
	background: white;
	size: 10px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-khtml-border-radius: 1px;
	border-radius: 1px;
}

li {
	margin-top: 0.25em
	margin-bottom:0.25em; 
}

#domain_history li {
	list-style-type: circle;
}
.collapsibleList li{
  list-style-image:url('button.png');
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('button-open.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('button-closed.png');
  cursor:pointer;
}

