body, form {
	font-family: sans-serif;
}
/* For the different classes in the checker */

.ok {
	color: #008000;
}
/* should be hid when loading with js */
.skipped {
	color: #C0C0C0;
}
.info {
}
.notice {
	font-weight: bold;
	font-style: italic;
}
/* Will always show */
.warning {
	color: #FF8C00;
}
.error {
	color: red;
}
.critical {
	color: red;
}
/* Some "general" styling  */
#domain_info {
	float: left;
}
#domain_history {
	float: right;
	color: white;
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#domain_history h3 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.clear-both {
	clear: both;
}

.description {
	display: block;
	font-style: italic;
	color: black;
}

.menu li {
	display: inline;
}
a {
	font-weight: normal;
}


ul, ol {
	margin-left:1.5em; 
	padding-left:0px;
}

#result_list li {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	list-style: disc;
	font-size: 20px;
}
/* Could re-use the above? */
#nameservers {
	background: #8e9acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1px;
	color: white;
}

#result_list ul {
	color: black;
	padding-left: 10px;
}
#result_list li li {
	background: white;
	font-size: 14px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	list-style: none;
}
#result_list li:hover {
	background: #e8e8e8;
}
#result_list li li:hover {
	background: white;
}

#nameservers li {
	list-style: none;
}

li {
	margin-top: 0.25em;
	margin-bottom:0.25em;
}

#domain_history li {
	list-style-type: disc;
}

li.collapsibleListOpen{
  cursor: pointer;
}
li.collapsibleListOpen ul {
  cursor: text;
}

li.collapsibleListClosed{
  cursor: pointer;
}

.noscript {
	color: red;
	border: 1px dotted;
}

.about {
}

#credits {
	font-size: 12px;
	text-align: center;

}
